/* we put margin & padding to 0 on the whole pages */
* {
    margin: 0%;
    padding: 0%;
}

/* we remove the default style of links */
a {
    text-decoration: none
}

header {
    background-color: #667eea;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 50px 0;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.logo {
    font-size: 48px;
    display: flex;
    align-items: flex-start;
    padding-left: 50px;
}

.nav-menu {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 25%;
    gap: 200px;
}

a {
    color: white;
    font-size: 1em;
    width: 5%;
}

/* Flex Wrap Box Section */

body {
    background-color: rgb(235, 234, 234);
}

.Box-Flex {
    max-width: 1000px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 25%;
}

.Box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
    min-width: 150px;
    min-height: 100px;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 2px 8px #ccd6f6;
}

/* Responsive design on img */

img {
    margin-top: 25px;
    border-radius: 15px;
}

/* We call the container of the img */
.Box-Flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25%;
}


/* .explain {
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
} */