/* we put margin & padding to 0 on the whole pages */
* {
    margin: 0%;
    padding: 0%;
}

/* we remove the default style of links */
a {
    text-decoration: none
}

header {
    background-color: #667eea;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 50px 0;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.logo {
    font-size: 48px;
    display: flex;
    align-items: flex-start;
    padding-left: 50px;
}

.nav-menu {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 25%;
    gap: 200px;
}

a {
    color: white;
    font-size: 1em;
    width: 5%;
}

/* Flex Wrap Box Section */

body {
    background-color: rgb(224, 224, 224);
}

.Box-Flex {
    background-color: white;
    max-width: 900px;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Box {
    display: flex;
    padding: 2em 1em;
    gap: 20px;
    border-radius: 1em;


}


/* .explain {
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
} */